<div id="container">
	<div id="welcome-header">
		<h2>Welcome, <%= @user.alias %>!</h2>
		<p class="logout"><a data-method="delete" href="<%= session_path(session) %>">Log out</a></p>
	</div>

	<div id="content-1">
		<h3>Post Your Bright Idea!</h3>
		<%= form_for(@idea, url: { action: 'create'}) do |f| %>
			<%= f.text_area :description, :placeholder => 'Enter bright idea..' %>
			<%= f.submit "Post Idea!" %>
		<% end %>
	</div>

	<div id="ideas">
		<% if @ideas %>
			<% @ideas.each do |idea| %>
				<div class="idea">
					<h4><a href="<%= user_path(idea.user.id) %>"><%= idea.user.alias %></a> <span>says:</span></h4>
					<p class="idea-desc">"<%= idea.description %>"</p>
					<ul class="like-list">
						<% if idea.user.id == @user.id %>
							<li><a data-method="delete" href="<%= idea_path(idea) %>">Delete Idea</a></li>
						<% end %>
						<li>
							<%= form_for(@like, url: { controller: 'likes', action: 'create'}) do |f| %>
								<%= f.hidden_field :idea_id, :value => idea.id %>
								<%= f.submit "Like", :class => 'submit-link' %>
							<% end %>
						</li>
						<li><a href="<%= like_path(idea) %>"><%= idea.likes.count %> people</a> like this</li>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>
</div>